html {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background: url("../images/glasses-bg.png") center top no-repeat;
    background-size: auto 31rem;
}
/* Header/Landing */
.landing {
    height: 26rem;
}

.container-width {
    width: 960px;
    margin: 1rem auto 0 auto;
    color: white;
    background-color: cadetblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3rem;
}

.head-logo-white {
    height: 3rem;
    padding-top: 1.3rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.head-logo-white img {
    padding-left: 2rem;
    padding-right: 1rem;
    height: 1.5rem;
}

#logo {
  padding-top: .2rem;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 3rem;
    width: 960px;

}

.navs {
  margin-right: 2rem;
}

.tabup-nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0.8rem;
}

.mobile-nav {
    display: none;
}
.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 8rem;
  margin-left: 34rem;
  width: 430px;
  padding: 1.3rem 4rem 1rem 4rem;
  text-align: center;
  background-color: white;
}

/*Main Content*/
.clipart {
  height: 8rem;
  width: 960px;
  margin-left: 10rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul li {
  margin: auto 2.5rem;
}

.paper {
  width: 3.5rem;
  height: 4.2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

}

.paper, .ruler {
  padding-right: 6rem;
}

.ruler {
  width: 5rem;
  margin-bottom: 4rem;
}

.truck {
  width: 5rem;
  margin-bottom: 4rem;
}

/*Contact & About*/
.contact-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.about, .contact {
  width: 50%;
  margin-top: 3rem;
}

.about h2, .contact h2 {
  width: 10rem;
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}

.about p, .contact p {
  width: 55%;
  margin-top: 1rem;
}

.about {
  margin-left: 16rem;
}

/*footer*/
footer {
  height: 9.5rem;
  width: 960px;
  text-align: left;
  margin-top: 4rem;
  margin-left: 10rem;
  background-color: azure;

}

footer img {
  height: 1.5rem;
  margin-left: 3rem;
  margin-top: 4rem;
}

footer span {
  font-size: 1.5rem;
}


@media screen and (max-device-width: 1024px)
{
  html  {
    background-size: 100% 22rem;
  }
  .landing {
    height: 22rem;
  }
  .container-width {
    width: 100%;
    margin: 0 0 0 0;
  }
  .slogan {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-left: 23rem;
    width: 285px;
    padding: 0.75rem 4rem;
  }
  .clipart {
    margin-left: 2rem;
  }
  .about {
    margin-left: 11rem;
  }
}

@media screen and (max-device-width: 1024px)
{
  html  {
    background-size: auto 22rem;
  }
  .landing {
    height: 22rem;
  }
  .container-width {
    width: 100%;
    margin: 0 0 0 0;
  }
  .slogan {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-left: 18rem;
    width: 285px;
    padding: 0.75rem 4rem;
  }
  .clipart {
    margin-left: 2rem;
  }
  .about {
    margin-left: 11rem;
  }
}
