html {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background: url("../images/glasses-bg.png") center top no-repeat;
    background-size: auto 31rem;
}

.landing {
    height: 26rem;
}

.container-width {
    width: 960px;
    margin: 1rem auto 0 auto;
    color: white;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    height: 3rem;
}

.head-logo-white {
    height: 3rem;
    padding-top: 1.3rem;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.head-logo-white img {
    padding-left: 2rem;
    padding-right: 1rem;
    height: 1.5rem;
}

#logo {
  padding-top: .2rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    width: 960px;

}

.navs {
  margin-right: 2rem;
}

.tabup-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
}

.mobile-nav {
    display: none;
}
.slogan {
  display: flex;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 8rem;
  margin-left: 34rem;
  width: 430px;
  padding: 1.3rem 4rem 1rem 4rem;
  text-align: center;
  background-color: white;
}


.clipart {
  height: 8rem;
  width: 960px;
  margin-left: 10rem;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

ul li {
  margin: auto 2.5rem;
}

.paper {
  width: 3.5rem;
  height: 4.2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

}

.paper, .ruler {
  padding-right: 6rem;
}

.ruler {
  width: 5rem;
  margin-bottom: 4rem;
}

.truck {
  width: 5rem;
  margin-bottom: 4rem;
}

.contact-about-container {
  display: flex;
  flex-flow: row nowrap;
}

.about, .contact {
  width: 50%;
  margin-top: 3rem;
}

.about h2, .contact h2 {
  width: 10rem;
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}

.about p, .contact p {
  width: 55%;
  margin-top: 1rem;
}

.about {
  margin-left: 16rem;
}

/*footer*/
footer {
  height: 9.5rem;
  width: 960px;
  text-align: left;
  margin-top: 4rem;
  margin-left: 10rem;
  background-color: azure;

}

footer img {
  height: 1.5rem;
  margin-left: 3rem;
  marfin-top: 4rem;
}

footer span {
  font-size: 1.5rem;
}
